<form class="example-form" [formGroup]="formGroup">
  <mat-form-field class="example-full-width">
    <mat-label>Номер Лоту</mat-label>
    <input matInput formControlName="lotNumber">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="getLotDetails()">Витягнути дані</button>
  <br><br><br>

  <ng-container *ngIf="lot">
    <button mat-button color="primary">Buy Now Price - ${{lot.bnp}}</button><br>
    <button mat-button color="primary">Current Bid - ${{lot.hb}}</button><br>
    <button mat-button color="primary">Est. Retail Value - ${{lot.la}}</button>
    <br><br><br>
  </ng-container>

  <mat-form-field class="example-full-width">
    <mat-label>Середня доставка</mat-label>
    <input matInput formControlName="averageDelivery">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Середній збір в порту (брокер, експедитор, стоянка, доставка по Україні)</mat-label>
    <input matInput formControlName="averagePortFee">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Збір аукціону Copart</mat-label>
    <input matInput formControlName="auctionFee">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>За послуги</mat-label>
    <input matInput formControlName="myFee">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Розмитнення</mat-label>
    <input matInput formControlName="customsClearance">
  </mat-form-field>
  <a mat-raised-button color="primary" [href]="customsClearanceLink" target="_blank">Розрахувати</a>

  <br><br><br>
  <button mat-raised-button color="primary" (click)="getReuslt()">Результат</button>
  
  <ng-container *ngIf="result">
    <br><br><br>
    <button mat-button color="primary">Total Price - ${{result}}</button>
    <br><br><br>
  </ng-container>
</form>